body{
    background-color: aqua;
}
table {
    width: 100%;
    border: 1px solid #000;
    border-spacing: 5px;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-spacing: 0;
}
tbody{
    background-color: grey;
}