body{
    background-color: aqua;
}
table {
    width: 100%;
    border: 2px solid orangered;
    border-spacing: 5px;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid  ;
   border-spacing: 0;
}
tbody{
    background-color: grey;
    border-width: 3px solid orangered;
}